<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bomi -->
      <package
            uri="http://www.gu.se/bomi"
            class="se.gu.cse.idxse.bomi.BomiPackage"
            genModel="model/bomi.genmodel"/>
   </extension>

</plugin>
