<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated bomi -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="se.gu.cse.idxse.bomi.presentation.BomiModelWizardID"
            name="%_UI_BomiModelWizard_label"
            class="se.gu.cse.idxse.bomi.presentation.BomiModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BomiModelFile.gif">
         <description>%_UI_BomiModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated bomi -->
      <editor
            id="se.gu.cse.idxse.bomi.presentation.BomiEditorID"
            name="%_UI_BomiEditor_label"
            icon="icons/full/obj16/BomiModelFile.gif"
            extensions="bomi"
            class="se.gu.cse.idxse.bomi.presentation.BomiEditor"
            contributorClass="se.gu.cse.idxse.bomi.presentation.BomiActionBarContributor">
      </editor>
   </extension>

</plugin>
